# Credentials — JAMAIS sur GitHub
.env
*.key
credentials.json
dbt/profiles.yml

# Python
__pycache__/
.venv/
*.pyc
*.egg-info/

# Mac
.DS_Store

# Airflow — tous les logs et config générés
logs/
config/
airflow/logs/

# dbt
dbt/target/
dbt/dbt_packages/

# dbt projet généré
electricity_co2/target/
electricity_co2/dbt_packages/
electricity_co2/logs/dbt/.user.yml
